spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5433}/${DB_NAME:authdb}
    username: ${DB_USER:user}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public
    liquibase-schema: public

user:
  service:
    url: http://localhost:8081

service:
  api:
    key: dev-service-key

jwt:
  secret: ${JWT_SECRET:secret_for_jwt}
  access-token-expiration: 900000
  refresh-token-expiration: 2592000000
  issuer: auth-service

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 10000

server:
  port: ${SERVER_PORT:8082}
  error:
    include-message: always
    include-binding-errors: never

logging:
  level:
    root: INFO
    com.innowise.auth-service: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE